.App {
  text-align: center;
}

.modal-90w {
  width: 90%;
  max-width: none !important;
}

.card-header {
  cursor: pointer;
}
.modal-80w {
  width: 80%;
  max-width: none !important;
}

.modal-70w {
  width: 70%;
  max-width: none !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
